.Subreddits-container {
    text-align: center;
    border: 1px solid blue;
}

.Subreddit-individual {
    margin: 10px 0;
}

.Subreddit-individual button:hover {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}