.Post-individual {
    margin: 10px auto;
    padding: 10px;
    width: 95%;
    border: 2px solid green;
    background-color: var(--secondary-color);
}

.post-no-comments {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 10px;
}

.post-karma {
    width: 65%;
    justify-self: center;
    
    height: 100px;
    align-self: center;

    border: 1px solid black;
    box-shadow: 2px 2px grey;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.vote-icon-up {
    font-size: 1.5rem;
}

.vote-icon-down {
    font-size: 1.5rem;
}

.post-title {
    overflow: hidden;
    text-align: center;
}

.post-img {
    overflow: hidden;
} 

.post-img img {
    display: block;
    margin: 0 auto;
}

.post-comments {
    text-align: center;
}