/* CSS VARIABLES ARE DEFINED HERE (ALL SELECTORS THAT ARE DECENDENTS OF "ROOT" CLASS HAVE ACCESS TO THESE VARIABLES */
:root {
  --primary-color: gainsboro;
  --secondary-color: azure;
  --tertiary-color: white; 
  --nunito-font: 'Nunito', 'Times New Roman', sans-serif;
}


/* APP.JS CSS DEFINITIONS HERE */
.App {
  font-family: 'Nunito', 'Times New Roman', Helvetica, san-serif;
} 

.App-main-grid {
  display: grid;
  border: 1px black solid;
  grid-template-columns: 1fr 3fr;
}
