/* CSS VARIABLES ARE DEFINED HERE (ALL SELECTORS THAT ARE DECENDENTS OF "ROOT" CLASS HAVE ACCESS TO THESE VARIABLES */
:root {
  --primary-color: #DFDDDC;
  --secondary-color: #B0A4A4;
  --tertiary-color: #F7F1EE; 
  --nunito-font: 'Nunito', 'Times New Roman', sans-serif;
  --bor: 1px solid black;
}


/* APP.JS CSS DEFINITIONS HERE */
.App {
  font-family: 'Nunito', 'Times New Roman', Helvetica, san-serif;
} 

.App-main-grid {
  display: grid;
  border: 1px black solid;
  grid-template-columns: 1fr 3fr;
}

/* MEDIA SECTION */
@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 480px) {
  

}
