.header {
    border-bottom: 3px black solid;
    height: 80px;
    text-align: center;
    margin-top: 10px;

    background-color: var(--tertiary-color);
}
  
.header h1 {
    font-size: 1.5em;
    font-weight: 700;
}

.header h1 span {
    color: red;
}
  
.header ul {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
  
.header li {
    width: 100px;
    text-align: center;
}

.header-search-bar {
    margin-top: 17px;
    font-family: var(--nunito-font);
    display: flex;
    justify-content: center;
}

#search-bar-input {
    font-family: var(--nunito-font);
}

.search-buttons {
    font-family: var(--nunito-font);
    background-color: var(--primary-color);
    border: .5px solid black;
    
    margin-left: 2px;
    height: 24px;
    border-radius: 3px;
}

/* MEDIA SECTION */
@media only screen and (max-width: 768px) {
    .search-buttons {
        color: black;
        border-radius: 3px;
        font-weight: 400;
    }
}

@media only screen and (max-width: 480px) {
    .search-buttons {
        color: black;
        border-radius: 3px;
        font-weight: 400;
    }
}

@media only screen and (max-width: 380px) {
    #search-bar-input {
        width: 100px;
    }

    .search-buttons {
        color: black;
        border-radius: 3px;
        font-weight: 400;
       
        font-size: .6rem;
    }

    /* #search-btn {
        
    }

    #clear-btn {
        
    } */
}
