.Posts-container {
    background-color: var(--secondary-color);
    max-width: 100%;
    overflow: hidden;
} 

/* MEDIA SECTION */
@media only screen and (max-width: 768px) {
    .Posts-container {
        padding: 5px;
    }
}

@media only screen and (max-width: 480px) {
    
}